html, body {
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(252, 252, 252) 50%, rgb(255, 255, 255) 100%);
    font-family: 'Kanit', sans-serif;
}

.overlay{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
   height:100%;
   display:none;
    width:100%;
    z-index: 2;
}

.overlay h1 {
    font-size: 95px;
    background: white;
    padding: 2rem;
    border:solid black 5px;
    margin:auto;
} 

.header{
    padding:1rem;
    padding-bottom: 0;
    position:absolute;
    display: flex;
    justify-content: center;
    width:100%;
}

h1{
    text-align: center;
}

h2 {
    font-size: 2rem;
}


.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    width:100%;
}

.sideContent{
    width:100%;
    display:flex;
}

.sidePic{
    width:  300px;
    margin:auto;
}

.pillar{
    border-left: 5px black solid;
    border-right: 5px black solid;
    height:100%;
    margin-left:5rem;
    width:fit-content;
    padding: 1rem;
}

.rightContent{
    width:100%;
}

.mainContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem;
}

.diceArea{
    width:100%;
    display:flex;
    flex-direction: row;
}

.diceContainer{
    padding:1rem;
    display:flex;
    justify-content: center;

}

.diceImage {
    animation: none;
    margin:auto;
    height: 250px;
    width: 250px;
    border:solid black 5px;
    border-radius: 10px;
    filter:drop-shadow(10px 10px 10px black)
}

.throwBtn{
    margin-top:5rem;
    background: white;
    border:solid black 5px;
    font-size: 2rem;
    padding:1rem;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
}

.throwBtn:hover {
    background:green;
}


#popup {
    animation: alternate 8s popupanimation;
}


@keyframes popupanimation {
    0%{
        transform: rotate(0deg) scale(0);
    }
    100%{
        transform: rotate(-100deg) scale(10);
    }
}

@keyframes shakeDice {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/*SANTA STUFF */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  

  
  .santa {
      background:#3ac6f4;
      width:120px;
      height:120px;
      border-radius:50%;
      position:absolute;

      right:5rem;
      bottom:5rem;
    margin-top:-60px;
  }
  
  .santa .snow {
      width: 2px;
      height: 2px;
      background: white;
      border-radius: 50%;
      position: absolute;
      left: 18px;
      top: 44px;
  }
  
  
  .santa .snow:after {
      width: 6px;
      height: 6px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: -14px;
      left: 0px;
  }
  
  .santa .snow:before {
      width: 4px;
      height: 4px;
      content: "";
      display: inline-block;
      background: white;
      border-radius: 50%;
      position: absolute;
      bottom: -12px;
      left: -11px;
  }
  
  .santa .hat {
      width: 64px;
      height: 31px;
      border-radius: 200px 200px 0 0;
      background: #ef4753;
      margin: 0 auto;
      top: -11px;
      position: relative;
      left: 5px;
      z-index:20;
  }
  
  .santa .hat:after {
      width: 60px;
      height: 15px;
      border-radius: 20px;
      content: "";
      display: block;
      background: white;
      position: relative;
      top: 22px;
      left: -3px;
  }
  
  .santa .face {
      width: 54px;
      height: 57px;
      background: white;
      border-radius: 0px 0px 50px 50px;
      margin: 0 auto;
      position: relative;
      z-index: 20;
      top: -6px;
  }
  
  .santa .face .eyes {
      background:#f1ddd5;
      width:45px;
      height:15px;
      margin:0 auto;
      position:relative;
      left:-1px;
      text-align: center;
      top:4px;
      padding-top: 0px;
  }
  
  .santa .face .eyes:after, righteye {
      width: 8px;
      height: 6px;
      background: transparent;
      box-shadow: 0px -2px #793623;
      content: "";
      display:inline-block;
      margin:0 auto;
      border-radius: 50%;
  }
  
  .santa .face .eyes:before, lefteye {
      width: 8px;
      height: 6px;
      background: transparent;
      box-shadow: 0px -2px #793623;
      content: "";
      display:inline-block;
      margin:0 auto;
      border-radius: 50%;
      margin-right:5px;
  }
  
  .santa .mouth {
      background:#a31f2b;
      border-radius:50%;
      width:6px;
      height:6px;
      position:absolute;
      bottom:20px;
      right:17px;
  }
  
  .santa .body {
      width: 93px;
      height: 84px;
      background: #ef4753;
      border-radius: 90px 90px 0px 0px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align:center;
      z-index:10;
  }
  
  .santa .body:after {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 68px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto;
  }
  
  .santa .body:before {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 55px;
      z-index: 50;
      content: "";
      left: 0;
      right: 0;
      margin: 0 auto;
  }
  
  .santa .hat .hat-end {
      width: 13px;
      height: 32px;
      content: "";
      background: #ef4753;
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 15px;
      border-radius: 0px 11px 0px 0px;
  }
  
  .santa .hat .hat-end:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
      content: "";
      display: inline-block;
      top: 30px;
      position: absolute;
      left: 0px;
      z-index: 11;
  }
  
  .circles {
      background: #a31f2b;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      z-index: 9;
      position: absolute;
      right: -6px;
      top: 12px;
  }
  
  .circles:after {
      background:white;
      width:40px;
      height:40px;
      right:0;
      top:50px;
      content:"";
      border-radius:50%;
  }
  
  .dirty-overflow {
      overflow: hidden;
      width: 120px;
      height: 76px;
      border-radius: 0px 0px 105px 105px;
      position: absolute;
      left: 0;
      bottom: 0;
  }
